<button mat-raised-button class="mb-3" color="primary" aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
    Yeni Müşteri
  </button>
<div class="row">
    <div class="col-md-3 mb-4">
        <mat-card class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Mahmut Emin Yıldırımoğulları</mat-card-title>
              <button mat-icon-button class="context-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon  class="done">done</mat-icon>
                    <span>Tamamla</span>
                  </button>
                <button mat-menu-item >
                  <mat-icon class="update">update</mat-icon>
                  <span>Güncelle</span>
                </button>
                <button mat-menu-item >
                  <mat-icon class="delete">delete</mat-icon>
                  <span>Sil</span>
                </button>
                
              </mat-menu>
              <mat-card-subtitle>Geleceği Saat -> 10:00</mat-card-subtitle>
              <mat-card-subtitle>Geleceği Tarih -> 06.09.2020</mat-card-subtitle>
              <mat-card-subtitle style="word-wrap: unset;">Yapılacak İşlemler->  saç, sakal, yıkama, keratin </mat-card-subtitle>
              <mat-card-subtitle>Fiyat -> 60TL</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="col-md-3 mb-4">
        <mat-card class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Mahmut Emin Yıldırımoğulları</mat-card-title>
              <button mat-icon-button class="context-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon  class="done">done</mat-icon>
                    <span>Tamamla</span>
                  </button>
                <button mat-menu-item >
                  <mat-icon class="update">update</mat-icon>
                  <span>Güncelle</span>
                </button>
                <button mat-menu-item >
                  <mat-icon class="delete">delete</mat-icon>
                  <span>Sil</span>
                </button>
                
              </mat-menu>
              <mat-card-subtitle>Geleceği Saat -> 10:00</mat-card-subtitle>
              <mat-card-subtitle>Geleceği Tarih -> 06.09.2020</mat-card-subtitle>
              <mat-card-subtitle style="word-wrap: unset;">Yapılacak İşlemler->  saç, sakal, yıkama, keratin </mat-card-subtitle>
              <mat-card-subtitle>Fiyat -> 60TL</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="col-md-3 mb-4">
        <mat-card class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Mahmut Emin Yıldırımoğulları</mat-card-title>
              <button mat-icon-button class="context-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon  class="done">done</mat-icon>
                    <span>Tamamla</span>
                  </button>
                <button mat-menu-item >
                  <mat-icon class="update">update</mat-icon>
                  <span>Güncelle</span>
                </button>
                <button mat-menu-item >
                  <mat-icon class="delete">delete</mat-icon>
                  <span>Sil</span>
                </button>
                
              </mat-menu>
              <mat-card-subtitle>Geleceği Saat -> 10:00</mat-card-subtitle>
              <mat-card-subtitle>Geleceği Tarih -> 06.09.2020</mat-card-subtitle>
              <mat-card-subtitle style="word-wrap: unset;">Yapılacak İşlemler->  saç, sakal, yıkama, keratin </mat-card-subtitle>
              <mat-card-subtitle>Fiyat -> 60TL</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="col-md-3 mb-4">
        <mat-card class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Mahmut Emin Yıldırımoğulları</mat-card-title>
              <button mat-icon-button class="context-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon  class="done">done</mat-icon>
                    <span>Tamamla</span>
                  </button>
                <button mat-menu-item >
                  <mat-icon class="update">update</mat-icon>
                  <span>Güncelle</span>
                </button>
                <button mat-menu-item >
                  <mat-icon class="delete">delete</mat-icon>
                  <span>Sil</span>
                </button>
                
              </mat-menu>
              <mat-card-subtitle>Geleceği Saat -> 10:00</mat-card-subtitle>
              <mat-card-subtitle>Geleceği Tarih -> 06.09.2020</mat-card-subtitle>
              <mat-card-subtitle style="word-wrap: unset;">Yapılacak İşlemler->  saç, sakal, yıkama, keratin </mat-card-subtitle>
              <mat-card-subtitle>Fiyat -> 60TL</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="col-md-3 mb-4">
        <mat-card class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Mahmut Emin Yıldırımoğulları</mat-card-title>
              <button mat-icon-button class="context-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon  class="done">done</mat-icon>
                    <span>Tamamla</span>
                  </button>
                <button mat-menu-item >
                  <mat-icon class="update">update</mat-icon>
                  <span>Güncelle</span>
                </button>
                <button mat-menu-item >
                  <mat-icon class="delete">delete</mat-icon>
                  <span>Sil</span>
                </button>
                
              </mat-menu>
              <mat-card-subtitle>Geleceği Saat -> 10:00</mat-card-subtitle>
              <mat-card-subtitle>Geleceği Tarih -> 06.09.2020</mat-card-subtitle>
              <mat-card-subtitle style="word-wrap: unset;">Yapılacak İşlemler->  saç, sakal, yıkama, keratin </mat-card-subtitle>
              <mat-card-subtitle>Fiyat -> 60TL</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="col-md-3 mb-4">
        <mat-card class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Mahmut Emin Yıldırımoğulları</mat-card-title>
              <button mat-icon-button class="context-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon  class="done">done</mat-icon>
                    <span>Tamamla</span>
                  </button>
                <button mat-menu-item >
                  <mat-icon class="update">update</mat-icon>
                  <span>Güncelle</span>
                </button>
                <button mat-menu-item >
                  <mat-icon class="delete">delete</mat-icon>
                  <span>Sil</span>
                </button>
                
              </mat-menu>
              <mat-card-subtitle>Geleceği Saat -> 10:00</mat-card-subtitle>
              <mat-card-subtitle>Geleceği Tarih -> 06.09.2020</mat-card-subtitle>
              <mat-card-subtitle style="word-wrap: unset;">Yapılacak İşlemler->  saç, sakal, yıkama, keratin </mat-card-subtitle>
              <mat-card-subtitle>Fiyat -> 60TL</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="col-md-3 mb-4">
        <mat-card class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Mahmut Emin Yıldırımoğulları</mat-card-title>
              <button mat-icon-button class="context-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon  class="done">done</mat-icon>
                    <span>Tamamla</span>
                  </button>
                <button mat-menu-item >
                  <mat-icon class="update">update</mat-icon>
                  <span>Güncelle</span>
                </button>
                <button mat-menu-item >
                  <mat-icon class="delete">delete</mat-icon>
                  <span>Sil</span>
                </button>
                
              </mat-menu>
              <mat-card-subtitle>Geleceği Saat -> 10:00</mat-card-subtitle>
              <mat-card-subtitle>Geleceği Tarih -> 06.09.2020</mat-card-subtitle>
              <mat-card-subtitle style="word-wrap: unset;">Yapılacak İşlemler->  saç, sakal, yıkama, keratin </mat-card-subtitle>
              <mat-card-subtitle>Fiyat -> 60TL</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    <div class="col-md-3 mb-4">
        <mat-card class="example-card">
            <mat-card-header >
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title> Mahmut Emin Yıldırımoğulları</mat-card-title>
              <button mat-icon-button class="context-icon" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon  class="done">done</mat-icon>
                    <span>Tamamla</span>
                  </button>
                <button mat-menu-item >
                  <mat-icon class="update">update</mat-icon>
                  <span>Güncelle</span>
                </button>
                <button mat-menu-item >
                  <mat-icon class="delete">delete</mat-icon>
                  <span>Sil</span>
                </button>
                
              </mat-menu>
              <mat-card-subtitle>Geleceği Saat -> 10:00</mat-card-subtitle>
              <mat-card-subtitle>Geleceği Tarih -> 06.09.2020</mat-card-subtitle>
              <mat-card-subtitle style="word-wrap: unset;">Yapılacak İşlemler->  saç, sakal, yıkama, keratin </mat-card-subtitle>
              <mat-card-subtitle>Fiyat -> 60TL</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
    </div>
    
   </div>