<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" opened mode="side">
      <div class="user-information">
        <div class="media">
          <img src="./../../assets/user.png" class="user-image" width="100px" height="100px">
          <div class="media-body ml-3 mt-4">
            <p class="mt-0 name-surname" >{{service.userInfo?.name}} {{service.userInfo?.surname}}</p>
            <p class="mt-0" class="username"style="color:white">@{{service.userInfo?.userName}}</p>
            
          </div>
        </div>
        

      </div>
      <div class="navigation">
        <div class="mb-3">
          
            <button mat-fab class="nav-selected mr-2"  [ngStyle]="{'visibility': (navText=='home' || navText=='homeIcon') ? 'visible' : 'hidden' }">
             
            </button>
            <a mat-raised-button class="nav-button" routerLink="/home/customers"  id="home" (click)="navigate($event)" matTooltip="Anasayfa" matTooltipPosition="right" color="warn">
              <mat-icon id="homeIcon">home</mat-icon>
            </a>
            
         
         
        </div>
        <div class="example-button-container mb-3">
          <button mat-fab class="nav-selected mr-2" [ngStyle]="{'visibility': (navText=='x' || navText=='xIcon') ? 'visible' : 'hidden' }">
             
          </button>
          <a mat-raised-button id="x" (click)="navigate($event)"  routerLink="/home/summary"  routerLinkActive="active" class="nav-button" color="warn" matTooltip="Hesap Özeti" matTooltipPosition="right">
            <mat-icon id="xIcon">bookmark</mat-icon>
          </a>
        </div>
        <div class="example-button-container">
          <button mat-fab class="nav-selected mr-2">
             
          </button>
          <a mat-raised-button (click)="areYouSure()"  routerLinkActive="active" class="nav-button" color="warn" matTooltip="Çıkış Yap" matTooltipPosition="right">
            <mat-icon>power_settings_new</mat-icon>
          </a>
        </div>
       
      </div>
      

    </mat-drawer>
  
    <div class="example-sidenav-content">
     <router-outlet></router-outlet>

        
      
      
    </div>
  
  </mat-drawer-container>
  
 