.example-sidenav{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background:#303030;
  width: 250px;
  
}
.example-sidenav-content{
    background:#ACDBDF;
    padding: 50px;
}
.user-image{
  border-radius: 50%;
  
}
.user-information{
  margin-top:15px
}
.name-surname{
  color:White;
  margin-bottom:0px;
}