<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" opened mode="side">
      <div class="user-information">
        <div class="media">
          <img src="./../../assets/user.png" class="user-image" width="100px" height="100px">
          <div class="media-body ml-3 mt-4">
            <p class="mt-0 name-surname" >{{service.userInfo?.name}} {{service.userInfo?.surname}}</p>
            <p class="mt-0" class="username"style="color:white">@{{service.userInfo?.userName}}</p>
            
          </div>
        </div>
        

      </div>

    </mat-drawer>
  
    <div class="example-sidenav-content">
        
            <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>
      <p>asdasd</p>

        
      
      
    </div>
  
  </mat-drawer-container>
  
 